#nav{
    top:0;
    width: 100%;
    height: 100px;
}

.nav-items {
    display:flex;
}

.nav-item {
    padding: 20px;
}

.nav-link {
    font-size: 20px;
}

.link {

    text-decoration: none;
    color: white;
    text-align: right;
}

.header {
    display: flex;
}

#blankHeader {
    width: 2%;
}

.title {
    width:83%;
    display: flex;
}


.name {
    font-size: 25px;
    margin:10px;
}

.pageLinks {
    display: flex;
    justify-self:right;
    width: 15%;
    margin-right: 10px;
}

.not-nav {
    font-size: 30px;
    color: white;
    /*font-family: "chalkie", "DJB CHALK IT UP",'Rhodyn Chalk Rhodyn Chalk', "Script MT Bold", cursive; */
    margin: 10px;
}



.picture {
    width: 30%;
    margin: 5px;
}

.info {
    width: 70%;
}

.expBody {
    display: flex;
}

.image {
    width:100%
}

#body {
    background-color: #497959;
}

.time {
    text-align: center;
    float: top;
    font-size: 50px;
}