





.picture {
    width: 30%;
    margin: 5px;
}

.info {
    width: 70%;
}

.expBody {
    display: flex;
}

.image {
    width:100%
}

.time {
    text-align: center;
    float: top;
    font-size: 50px;
}