.not-nav {
    font-size: 30px;
    color: white;
    font-family: 'Chalk', "Script MT Bold", cursive;
    background-color: #497959;
    border-color: burlywood;
    border-width: 30px;
    border-style: solid;
    padding: 10px;
    min-height: 500px;
}